/* Header  */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 500px; */
}

.header span {
    position: relative;
}

.header span svg {
    background-color: #3C7EFF;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    bottom: 8px;
    right: 0px;
    cursor: pointer;
}

.header span svg:active {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}

.header span svg:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}

.header img {
    border-radius: 50%;
    border: 4px solid #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 10px;
}

.header :is(h4, h6) {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
}

.header h4 {
    color: var(--Black, #222);
    font-family: Poppins;
    font-size: 16px;
    line-height: 22px;
}

.header h6 {
    color: var(--Gray, #9B9B9B);
    font-family: Poppins;
    font-size: 13px;
    line-height: 20px;
}

/* Body Account Options  */
.account-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-options .option {
    padding: 14px 18px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.account-options .option:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.20);
}

.account-options .option :is(h5, h6) {
    margin-bottom: 0px;
}

.account-options .option h5 {
    color: var(--Black, #222);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.account-options .option h6 {
    color: var(--Gray, #9B9B9B);
    font-family: Verdana;
    font-size: 11px;
    font-weight: 400;
}

/* Header Responsive  */
/* @media screen and (min-width:650px) {
    .header {
        flex-direction: row;
    }

    .header img {
        width: 200px;
        height: 200px;
    }

    .header h4 {
        font-size: 24px;
    }

    .header h6 {
        font-size: 20px;
    }
} */