<div class="main">
    <div class="header p-4">
        <img [src]="imgUrl" width="80" height="80" alt="">
        <div>
            <h4>Deevanshu kushwah</h4>
            <h6>deevanshukushwah80@gmail.com</h6>
        </div>
    </div>
    <div class="account-options py-1 px-2">
        <div class="option">
            <span>
                <h5>Account Details</h5>
                <h6>Name, Mail, Contact, etc.</h6>
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.59961 7.4L9.99961 6L15.9996 12L9.99961 18L8.59961 16.6L13.1996 12L8.59961 7.4Z"
                        fill="#9B9B9B" />
                </svg>
            </span>
        </div>
        <div class="option">
            <span>
                <h5>Documents</h5>
                <h6>Aadhar, electricity bill.</h6>
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.59961 7.4L9.99961 6L15.9996 12L9.99961 18L8.59961 16.6L13.1996 12L8.59961 7.4Z"
                        fill="#9B9B9B" />
                </svg>
            </span>
        </div>
        <div class="option">
            <span>
                <h5>Password</h5>
                <h6>Reset Password, etc.</h6>
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.59961 7.4L9.99961 6L15.9996 12L9.99961 18L8.59961 16.6L13.1996 12L8.59961 7.4Z"
                        fill="#9B9B9B" />
                </svg>
            </span>
        </div>
        <div class="option">
            <span>
                <h5>Plan</h5>
                <h6>Your current plan, Transation history.</h6>
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.59961 7.4L9.99961 6L15.9996 12L9.99961 18L8.59961 16.6L13.1996 12L8.59961 7.4Z"
                        fill="#9B9B9B" />
                </svg>
            </span>
        </div>
        <div class="option" (click)="logOut()">
            <span>
                <h5>Log Out</h5>
                <h6>Sign out from this device.</h6>
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.59961 7.4L9.99961 6L15.9996 12L9.99961 18L8.59961 16.6L13.1996 12L8.59961 7.4Z"
                        fill="#9B9B9B" />
                </svg>
            </span>
        </div>
    </div>
</div>