<footer>
    <div class="d-flex flex-row main-container">
        <div class="logo flex-fill d-flex justify-content-center">
            <span style="width: 70px;"></span>
            <span style="line-height: 38px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="12" viewBox="0 0 27 12" fill="none">
                    <path
                        d="M22.6667 12H26.6667L13.3333 0L0 12H4L13.3333 3.58667L22.6667 12ZM6.66667 2.41333V0H2.66667V6L6.66667 2.41333Z"
                        fill="white" />
                </svg>
                Rent Qube</span>
        </div>
        <div class="links-container d-flex flex-row flex-fill">
            <div class="company flex-fill">
                <h4>COMPANY</h4>
                <a href="">How it works</a>
                <a href="">Pricing</a>
                <a href="">Demo</a>
            </div>
            <div class="resourse flex-fill">
                <h4>RESOURCES</h4>
                <a href="">Blog post name goes here</a>
                <a href="">Blog post name goes here</a>
                <a href="">Blog post name goes here</a>
                <a href="">See all resources</a>
            </div>
            <div class="above flex-fill">
                <h4>ABOUT</h4>
                <a href="">Terms & Conditions</a>
                <a href="">Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="cpr py-4">Copyright © 2022 Rent Qube</div>
</footer>