<div class="main">
    <div class="body px-5 py-3">
        <!-- <span>{{resettoken}}</span> -->
        <div class="input">
            <h4>New Password</h4>
            <input [(ngModel)]="newpswd" type="password" name="" id="">
        </div>
        <div class="input">
            <h4>Confirm Password</h4>
            <input [(ngModel)]="confirmpswd" type="password" name="" id="">
        </div>
        <div class="action py-4">
            <div class="d-flex flex-row-reverse">
                <button 
                    [disabled]="(newpswd != confirmpswd) || !newpswd || !confirmpswd || changebtnloading"
                    (click)="resetPswd()">
                        {{ changebtnloading?"":"Change" }}
                    <span *ngIf="changebtnloading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>