<div class="main">
    <div class="body px-5 py-3">
        <!-- <span>{{resettoken}}</span> -->
        <div class="input">
            <h4>New Password</h4>
            <input type="password" name="" id="">
        </div>
        <div class="input">
            <h4>Confirm Password</h4>
            <input type="password" name="" id="">
        </div>
        <div class="action py-4">
            <div class="d-flex flex-row-reverse">
                <button>Change</button>
            </div>
        </div>
    </div>
</div>