<div class="main">
    <div class="main-register-container px-4 py-5 d-flex align-items-center justify-content-center">
        <div class="register-container d-flex flex-row border">
            <div class="cover d-flex flex-column p-4">
                <h1 class="px-5">Welcome!</h1>
                <div class="flex-fill"></div>
            </div>
            <div class="register">
                <p class="p-signIn">I have an account! <span routerLink="/login">Sign In</span></p>
                <div *ngIf="!verify_otp" class="container px-5">
                    <h4>Register</h4>
                </div>
                <div *ngIf="!verify_otp" class="form px-5">
                    <div class="field">
                        <label for="email">Full Name</label>
                        <div class="input">
                            <input type="text" value="Abc Sharma" name="email" placeholder="Type here" id="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                                    fill="#BBBEC7" />
                                <path
                                    d="M12 14.5C6.99003 14.5 2.91003 17.86 2.91003 22C2.91003 22.28 3.13003 22.5 3.41003 22.5H20.59C20.87 22.5 21.09 22.28 21.09 22C21.09 17.86 17.01 14.5 12 14.5Z"
                                    fill="#BBBEC7" />
                            </svg>
                        </div>
                    </div>
                    <div class="field">
                        <label for="email">Email address</label>
                        <div class="input">
                            <input type="text" value="abc@example.com" name="email" placeholder="Type here" id="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                                    fill="#BBBEC7" />
                                <path
                                    d="M12 14.5C6.99003 14.5 2.91003 17.86 2.91003 22C2.91003 22.28 3.13003 22.5 3.41003 22.5H20.59C20.87 22.5 21.09 22.28 21.09 22C21.09 17.86 17.01 14.5 12 14.5Z"
                                    fill="#BBBEC7" />
                            </svg>
                        </div>
                    </div>
                    <div class="field">
                        <label for="pswd">Password</label>
                        <div class="input">
                            <input type="password" value="***********" name="pswd" placeholder="*****************"
                                id="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 24 24"
                                fill="none">
                                <path
                                    d="M12 17.35C12.9002 17.35 13.63 16.6202 13.63 15.72C13.63 14.8198 12.9002 14.09 12 14.09C11.0998 14.09 10.37 14.8198 10.37 15.72C10.37 16.6202 11.0998 17.35 12 17.35Z"
                                    fill="#BBBEC7" />
                                <path
                                    d="M18.28 9.53V8.28C18.28 5.58 17.63 2 12 2C6.37 2 5.72 5.58 5.72 8.28V9.53C2.92 9.88 2 11.3 2 14.79V16.65C2 20.75 3.25 22 7.35 22H16.65C20.75 22 22 20.75 22 16.65V14.79C22 11.3 21.08 9.88 18.28 9.53ZM12 18.74C10.33 18.74 8.98 17.38 8.98 15.72C8.98 14.05 10.34 12.7 12 12.7C13.66 12.7 15.02 14.06 15.02 15.72C15.02 17.39 13.67 18.74 12 18.74ZM7.35 9.44C7.27 9.44 7.2 9.44 7.12 9.44V8.28C7.12 5.35 7.95 3.4 12 3.4C16.05 3.4 16.88 5.35 16.88 8.28V9.45C16.8 9.45 16.73 9.45 16.65 9.45H7.35V9.44Z"
                                    fill="#BBBEC7" />
                            </svg>
                        </div>
                    </div>
                    <div class="field">
                        <label for="email">Account Type</label>
                        <div class="input">
                            <span class="toggle-menu" style="height: 41px;"
                                [matMenuTriggerFor]="menu">{{account_type}}</span>
                            <svg [matMenuTriggerFor]="menu" xmlns="http://www.w3.org/2000/svg" width="18" height="12"
                                viewBox="0 0 23 14" fill="none">
                                <path d="M1 1L11.5 13L22 1" stroke="#1A1B1F" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="account_type='TENANT'">Tenant</button>
                                <button mat-menu-item (click)="account_type='LANDLORD'">Landlord</button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <div *ngIf="verify_otp" class="otp_image d-flex flex-column align-items-center">
                    <img src="../../../assets/otp_1.svg" alt="">
                    <h4>OTP Verification</h4>
                    <h5>Enter the OTP sent to <span>{{email}}</span></h5>
                    <ng-otp-input class="mt-4" (onInputChange)="onInputChange($event)" [config]="{length:4}"></ng-otp-input>
                    <h6 class="mt-3">Didn’t you receive the OTP? <span>Resend OTP</span></h6>
                </div>
                <div class="action px-5">
                    <div>
                        <button *ngIf="!verify_otp">
                            Sign In
                            <svg class="ms-1" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="vuesax/outline/arrow-right">
                                    <g id="arrow-right">
                                        <path id="Vector"
                                            d="M14.43 18.82C14.24 18.82 14.05 18.75 13.9 18.6C13.61 18.31 13.61 17.83 13.9 17.54L19.44 12L13.9 6.46C13.61 6.17 13.61 5.69 13.9 5.4C14.19 5.11 14.67 5.11 14.96 5.4L21.03 11.47C21.32 11.76 21.32 12.24 21.03 12.53L14.96 18.6C14.81 18.75 14.62 18.82 14.43 18.82Z"
                                            fill="white" />
                                        <path id="Vector_2"
                                            d="M20.33 12.75H3.5C3.09 12.75 2.75 12.41 2.75 12C2.75 11.59 3.09 11.25 3.5 11.25H20.33C20.74 11.25 21.08 11.59 21.08 12C21.08 12.41 20.74 12.75 20.33 12.75Z"
                                            fill="white" />
                                    </g>
                                </g>
                            </svg>
                        </button>
                        <button *ngIf="verify_otp">
                            Verify
                            <svg class="ms-1" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="vuesax/outline/arrow-right">
                                    <g id="arrow-right">
                                        <path id="Vector"
                                            d="M14.43 18.82C14.24 18.82 14.05 18.75 13.9 18.6C13.61 18.31 13.61 17.83 13.9 17.54L19.44 12L13.9 6.46C13.61 6.17 13.61 5.69 13.9 5.4C14.19 5.11 14.67 5.11 14.96 5.4L21.03 11.47C21.32 11.76 21.32 12.24 21.03 12.53L14.96 18.6C14.81 18.75 14.62 18.82 14.43 18.82Z"
                                            fill="white" />
                                        <path id="Vector_2"
                                            d="M20.33 12.75H3.5C3.09 12.75 2.75 12.41 2.75 12C2.75 11.59 3.09 11.25 3.5 11.25H20.33C20.74 11.25 21.08 11.59 21.08 12C21.08 12.41 20.74 12.75 20.33 12.75Z"
                                            fill="white" />
                                    </g>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>