<div class="main">
    <div class="main-frame2">
        <div class="header-search-bar d-flex">
            <div class="header-main">
                <h1>Find your place of Desire</h1>
                <h4>We provide rooms, flats, houses, PGs & even commercial space for rent without any commission and
                    brokerage.</h4>
                <div class="search-bar d-flex flex-row align-items-center justify-content-between">
                    <input type="text" name="location" placeholder="Find by location" id="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path
                            d="M9.45 9.45L14 14M5.875 10.75C7.16793 10.75 8.40791 10.2364 9.32215 9.32215C10.2364 8.40791 10.75 7.16793 10.75 5.875C10.75 4.58207 10.2364 3.34209 9.32215 2.42785C8.40791 1.51361 7.16793 1 5.875 1C4.58207 1 3.34209 1.51361 2.42785 2.42785C1.51361 3.34209 1 4.58207 1 5.875C1 7.16793 1.51361 8.40791 2.42785 9.32215C3.34209 10.2364 4.58207 10.75 5.875 10.75Z"
                            stroke="#0193FD" stroke-width="1.5" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="header-2">
            <div class="right-header-data d-flex flex-column">
                <div class="text">
                    <h1>Be a co-Landlord</h1>
                    <h1>Brick by Brick</h1>
                </div>
                <div class="header-watch-p d-flex flex-wrap flex-row-reverse justify-content-between bg-white">
                    <p>
                        Through the power of the group, you no longer have to wait to gather a small fortune in order to
                        invest
                        in real estate. Our fractional ownership platform allows you to pool with others in order to buy
                        a
                        small
                        bit of a big property.
                    </p>
                    <div class="d-flex p-right-tag">
                        <div class="circle position-relative">
                            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39"
                                fill="none">
                                <circle cx="19.5" cy="19.5" r="19.5" fill="#CBE9FF" />
                            </svg>
                            <svg class="position-absolute top-50 start-50 translate-middle"
                                xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24"
                                fill="none">
                                <ellipse cx="11.5" cy="12" rx="11.5" ry="12" fill="#0193FD" />
                            </svg>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <h4>Watch how <span class="property">Property</span><span class="crest">Crest</span> works
                            </h4>
                            <h5>Presented by PropertyCrest CEO</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="main-body bg-white">
        </div> -->
    </div>

    <div class="destination-cards">
        <h1>top</h1>
        <h2>destinations</h2>
        <div class="icon d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="20" viewBox="0 0 36 20" fill="none">
                <path d="M10 10L26 10" stroke="#F2FFFE" stroke-width="20" stroke-linecap="round"
                    stroke-dasharray="2 2" />
            </svg>
        </div>
        <p>It’s hard enough deciding to move, you don’t have to worry about where to move to. These are some of the most
            popular and best locations to move to based on a number of factors.</p>
        <div class="cards d-flex justify-content-center flex-row flex-wrap">
            <div class="card d-flex">
                <div class="message mt-auto">
                    <h4>Indore</h4>
                    <h4>Madhya pradesh</h4>
                </div>
            </div>
            <div class="card d-flex">
                <div class="message mt-auto">
                    <h4>Bhopal</h4>
                    <h4>Madhya pradesh</h4>
                </div>
            </div>
            <div class="card d-flex">
                <div class="message mt-auto">
                    <h4>Jabalpur</h4>
                    <h4>Pernambuco</h4>
                </div>
            </div>
            <div class="card d-flex">
                <div class="message mt-auto">
                    <h4>Varanasi</h4>
                    <h4>Rio Grande do Sul</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="how-it-work-cards">
        <h1>how</h1>
        <h2>It Works</h2>
        <div class="icon d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="20" viewBox="0 0 36 20" fill="none">
                <path d="M10 10L26 10" stroke="#19FFE3" stroke-opacity="0.3" stroke-width="20" stroke-linecap="round"
                    stroke-dasharray="2 2" />
            </svg>
        </div>
        <p>Your peace of mind doesn’t have to be tied to where everyone else is. Take your time and find the perfect one
            for
            you.</p>
        <div class="cards d-flex flex-row justify-content-center flex-wrap">
            <div class="card d-flex">
                <div class="image"></div>
                <div class="texts">
                    <h4>Search</h4>
                    <p>Search Rooms at any location in your city as per your convenience</p>
                </div>
            </div>
            <div class="card d-flex">
                <div class="image"></div>
                <div class="texts">
                    <h4>Send Request</h4>
                    <p>Select a room and send request to the landlord for that room.</p>
                </div>
            </div>
            <div class="card d-flex">
                <div class="image"></div>
                <div class="texts">
                    <h4>Confirmation</h4>
                    <p>Wait twenty four hours for confirm your request by landlord.</p>
                </div>
            </div>
            <div class="card d-flex">
                <div class="image"></div>
                <div class="texts">
                    <h4>Enjoy</h4>
                    <p>After confirmation, direct contact to the landlord and enjoy your stay.</p>
                </div>
            </div>
        </div>
    </div>

    <app-get-in-touch-button-footer></app-get-in-touch-button-footer>

    <app-footer></app-footer>
</div>