<div class="destination-cards">
    <h1>top</h1>
    <h2>destinations</h2>
    <div class="icon d-flex justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="20" viewBox="0 0 36 20" fill="none">
            <path d="M10 10L26 10" stroke="#F2FFFE" stroke-width="20" stroke-linecap="round" stroke-dasharray="2 2" />
        </svg>
    </div>
    <p>It’s hard enough deciding to move, you don’t have to worry about where to move to. These are some of the most
        popular and best locations to move to based on a number of factors.</p>
    <div class="cards d-flex flex-row">
        <div class="card d-flex">
            <div class="message mt-auto">
                <h4>Indore</h4>
                <h4>Madhya pradesh</h4>
            </div>
        </div>
        <div class="card d-flex">
            <div class="message mt-auto">
                <h4>Bhopal</h4>
                <h4>Madhya pradesh</h4>
            </div>
        </div>
        <div class="card d-flex">
            <div class="message mt-auto">
                <h4>Jabalpur</h4>
                <h4>Pernambuco</h4>
            </div>
        </div>
        <div class="card d-flex">
            <div class="message mt-auto">
                <h4>Varanasi</h4>
                <h4>Rio Grande do Sul</h4>
            </div>
        </div>
    </div>
</div>

<div class="how-it-work-cards">
    <h1>how</h1>
    <h2>It Works</h2>
    <div class="icon d-flex justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="20" viewBox="0 0 36 20" fill="none">
            <path d="M10 10L26 10" stroke="#19FFE3" stroke-opacity="0.3" stroke-width="20" stroke-linecap="round"
                stroke-dasharray="2 2" />
        </svg>
    </div>
    <p>Your peace of mind doesn’t have to be tied to where everyone else is. Take your time and find the perfect one for
        you.</p>
    <div class="cards d-flex flex-row">
        <div class="card d-flex">
            <div class="image"></div>
            <div class="texts">
                <h4>Search</h4>
                <p>Search Rooms at any location in your city as per your convenience</p>
            </div>
        </div>
        <div class="card d-flex">
            <div class="image"></div>
            <div class="texts">
                <h4>Send Request</h4>
                <p>Select a room and send request to the landlord for that room.</p>
            </div>
        </div>
        <div class="card d-flex">
            <div class="image"></div>
            <div class="texts">
                <h4>Confirmation</h4>
                <p>Wait twenty four hours for confirm your request by landlord.</p>
            </div>
        </div>
        <div class="card d-flex">
            <div class="image"></div>
            <div class="texts">
                <h4>Enjoy</h4>
                <p>After confirmation, direct contact to the landlord and enjoy your stay.</p>
            </div>
        </div>
    </div>
</div>