<div class="main">
    <div class="header d-flex align-items-center justify-content-center">
        <span>Contact US</span>
    </div>
    <div class="bg-white">
        <div class="about-us my-4">
            <div class="body">
                <h1>Get in touch</h1>
                <h3>Let us know how we can help</h3>
                <div class="form">
                    <div class="field">
                        <label for="">Name</label>
                        <input type="text" placeholder="Your full name">
                    </div>
                    <div class="field">
                        <label for="">Email</label>
                        <input type="email" placeholder="me@gmail.com">
                    </div>
                    <div class="field">
                        <label for="">Message</label>
                        <textarea placeholder="Your message..."></textarea>
                    </div>
                    <button class="px-3 py-2">Send message</button>
                </div>
            </div>
            <div class="image">
                <img src="../../../assets/contact-us.png" alt="">
            </div>
        </div>

        <app-get-in-touch-button-footer></app-get-in-touch-button-footer>
    </div>
    <app-footer></app-footer>
</div>