<div class="main">
    <div class="container pb-5">
        <h1 class="py-5 my-3">Pricing Plan</h1>
        <div class="cards d-flex justify-content-around">
            <!-- Free Landlord -->
            <div class="card" *ngIf="userType=='LANDLORD'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_free.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Free</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    Rs 0
                </div>
                <div class="action d-flex justify-content-center">
                    <button disabled class="btn-buy-plan btn-activated-plan">{{(activePlan=='FREELANDLORD')?'ACTIVE':'DEFAULT PLAN'}}</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
            <!-- Standard Landlord -->
            <div class="card" *ngIf="userType=='LANDLORD'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_standard.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Standard</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    Rs 799
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan" [disabled]="(activePlan=='STANDARDLANDLORD' || activePlan=='PREMIUMLANDLORD')" [ngClass]="(activePlan=='STANDARDLANDLORD' || activePlan=='PREMIUMLANDLORD')?'btn-activated-plan':''" (click)="getPlan('STANDARDLANDLORD')">{{(activePlan=='STANDARDLANDLORD')?'ACTIVE':'BUY PLAN'}}</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
            <!-- Premium Landlord -->
            <div class="card" *ngIf="userType=='LANDLORD'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_premium.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Premium</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    Rs 1499
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan" (click)="getPlan('PREMIUMLANDLORD')" [disabled]="(activePlan=='PREMIUMLANDLORD')" [ngClass]="(activePlan=='PREMIUMLANDLORD')?'btn-activated-plan':''">{{(activePlan=='PREMIUMLANDLORD')?'ACTIVE':'BUY PLAN'}}</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>

            <!-- Free Tenant -->
            <div class="card" *ngIf="userType=='TENANT'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_premium.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Free</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    Rs 0
                </div>
                <div class="action d-flex justify-content-center">
                    <button disabled class="btn-buy-plan btn-activated-plan">{{(activePlan=='FREETENANT')?'ACTIVE':'DEFAULT PLAN'}}</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
            <!-- Premium Tenant -->
            <div class="card" *ngIf="userType=='TENANT'">
                <div class="img d-flex justify-content-center" *ngIf="userType=='TENANT'">
                    <img src="../../../assets/plan_premium.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Premium</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    Rs 599
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan" (click)="getPlan('PREMIUMTENANT')" [disabled]="(activePlan=='PREMIUMTENANT')" [ngClass]="(activePlan=='PREMIUMTENANT')?'btn-activated-plan':''">{{(activePlan=='PREMIUMTENANT')?'ACTIVE':'BUY PLAN'}}</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>