<div class="main">
    <div class="container pb-5">
        <h1 class="py-5 my-3">Pricing Plan</h1>
        <div class="cards d-flex justify-content-around">
            <div class="card" *ngIf="userType=='LANDLORD'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_free.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Free</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    Free 7 Days Trail
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan btn-activated-plan">BUY PLAN</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
            <div class="card" *ngIf="userType=='LANDLORD'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_standard.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Standard</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    $1,499/mo
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan" (click)="getPlan('STANDARDLANDLORD')">BUY PLAN</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
            <div class="card" *ngIf="userType=='LANDLORD'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_premium.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Premium</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    $2,499/mo
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan" (click)="getPlan('PREMIUMLANDLORD')">BUY PLAN</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>

            <div class="card" *ngIf="userType=='TENANT'">
                <div class="img d-flex justify-content-center">
                    <img src="../../../assets/plan_premium.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Free</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    $2,499/mo
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan btn-activated-plan">BUY PLAN</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
            <div class="card" *ngIf="userType=='TENANT'">
                <div class="img d-flex justify-content-center" *ngIf="userType=='TENANT'">
                    <img src="../../../assets/plan_premium.png" width="60px" alt="">
                </div>
                <h4 class="topic text-center">Premium</h4>
                <p class="text-center starting-at">Starting at</p>
                <div class="price text-center">
                    $2,499/mo
                </div>
                <div class="action d-flex justify-content-center">
                    <button class="btn-buy-plan btn-activated-plan" (click)="getPlan('PREMIUMTENANT')">BUY PLAN</button>
                </div>
                <div class="plan-rules">
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                    <p class="rule">
                        <span><img src="../../../assets/right_svg_icon.svg" alt=""></span>
                        <span>Lorem, ipsum dolor.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>