<div class="main">
    <div class="back px-3 py-4">
        <svg routerLink="/panel/landlord/properties" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
            viewBox="0 0 23 23" fill="none">
            <path
                d="M11.5 20.125C16.2635 20.125 20.125 16.2635 20.125 11.5C20.125 6.73654 16.2635 2.875 11.5 2.875C6.73654 2.875 2.875 6.73654 2.875 11.5C2.875 16.2635 6.73654 20.125 11.5 20.125Z"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M12.458 8.625L9.58301 11.5L12.458 14.375" stroke="black" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg>
        <span routerLink="/panel/landlord/properties">Add Property</span>
    </div>

    <div class="body p-2 mx-auto" [formGroup]="propertyformgroup">
        <div class="row">
            <div class="col">
                <label for="property_name">Property Name *</label>
                <input type="text" name="property_name" formControlName="property_name" id="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="property_type">Property Type *</label>
                <select class="form-select p-1" formControlName="property_type" name="property_type">
                    <option *ngFor="let type of property_type" [value]="type.value">{{ type.key }}</option>
                </select>
            </div>
            <div class="col">
                <label for="offer_type">Offer Type *</label>
                <select class="form-select p-1" formControlName="offer_type" name="offer_type" id="">
                    <option *ngFor="let type of offer_type" [value]="type.value">{{ type.key }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="no_of_rooms">No Of Rooms *</label>
                <input type="number" formControlName="no_of_rooms" name="no_of_rooms" id="">
            </div>
            <div class="col">
                <label for="price">Price *</label>
                <input type="number" formControlName="price" name="price" id="">
            </div>
        </div>

        <div class="row checkbox_container">
            <div class="col">
                <label for="attached_kitchen">Attached Kitchen</label>
                <input class="form-check-input mt-0" formControlName="attached_kitchen" type="checkbox"
                    name="attached_kitchen" id="">
            </div>
            <div class="col">
                <label for="attached_bathroom">Attached Bathroom</label>
                <input class="form-check-input mt-0" formControlName="attached_bathroom" type="checkbox"
                    name="attached_bathroom" id="">
            </div>
        </div>

        <div class="row checkbox_container">
            <div class="col">
                <label for="include_water_bill">Include Water Bill</label>
                <input class="form-check-input mt-0" formControlName="include_water_price" type="checkbox"
                    name="include_water_bill" id="">
            </div>
            <div class="col">
                <label for="include_electricity">Include Electricity</label>
                <input class="form-check-input mt-0" formControlName="include_electricity_price" type="checkbox"
                    name="include_electricity" id="">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="state">State *</label>
                <select class="form-select p-1" #stateselector (change)="stateChanged(stateselector.value)"
                    formControlName="state" name="state">
                    <option *ngFor="let state of states" [value]="state.name">{{ state.name }}</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="district">District *</label>
                <select class="form-select p-1" formControlName="district" name="district">
                    <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
                </select>
            </div>
            <div class="col">
                <label for="zip_code">Zip Code *</label>
                <input type="number" formControlName="zipcode" name="zip_code" id="">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="remark">Remark</label>
                <textarea name="remark" formControlName="remark" cols="30" rows="4"></textarea>
            </div>
        </div>

        <div class="row action">
            <div class="col d-flex flex-row-reverse">
                <button [disabled]="propertyformgroup.invalid" (click)="saveProperty()">
                    {{ nextbtnloading?'':'next' }}
                    <span *ngIf="nextbtnloading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>