<div class="main py-5 d-flex justify-content-center">
    <div class="get-in-touch-footer flex-fill d-flex flex-row py-3 px-5">
        <div class="space">
            <img src="../../../../assets/bag_img_png.png" alt="">
        </div>
        <div class="texts flex-fill py-2">
            <h4>Are you ready to move?</h4>
            <h6>Get in touch and let our team help you put things together and plan your move.</h6>
        </div>
        <div class="action d-flex justify-content-center align-items-center flex-fill py-2">
            <button  routerLink="/contactus">Get in touch</button>
        </div>
    </div>
</div>