<div class="d-flex flex-row nav-bar">
    <div class="logo flex-fill d-flex">
        <span style="width: 70px;"></span>
        <span style="line-height: 38px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="12" viewBox="0 0 27 12" fill="none">
                <path
                    d="M22.6667 12H26.6667L13.3333 0L0 12H4L13.3333 3.58667L22.6667 12ZM6.66667 2.41333V0H2.66667V6L6.66667 2.41333Z"
                    fill="white" />
            </svg>
            Rent Qube</span>
    </div>
    <div class="links flex-fill d-flex align-items-center justify-content-center">
        <span class="link">Home</span>
        <span class="link">Find Rooms</span>
        <span class="link">Features</span>
        <span class="link">List Property</span>
        <span class="link">About Us</span>
        <span class="link">Contact Us</span>
    </div>
    <div class="action flex-fill d-flex flex-row-reverse">
        <span style="width: 50px;"></span>
        <button class="sign-in">Sign In</button>
    </div>
</div>