<div class="table_container mat-elevation-z8">
    <div *ngIf="dataLoading" class="position-absolute top-50 start-50 spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <table mat-table [dataSource]="dataSource">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                Actions
            </th>
            <td mat-cell *matCellDef="let row">
                <i aria-hidden="true" style="cursor: pointer;
                font-size: 20px;
                color: #222;" class="icon material-icons mx-1" matTooltip="edit"
                    (click)="editPropertyDetails(row.id)">edit</i>
                <!-- <mat-checkbox color="primary" [checked]="row == selectedIndex" (change)="selectRow(row)">
                </mat-checkbox> -->
                <i aria-hidden="true" style="cursor: pointer;
                font-size: 20px;
                color: #222;" class="icon material-icons mx-1" matTooltip="delete"
                    (click)="deleteProperty(row.id)">delete</i>
            </td>
        </ng-container>
        <!-- Property Name Column -->
        <ng-container matColumnDef="property_name" sticky>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.property_name}} </td>
        </ng-container>
        <!-- Property Type Column -->
        <ng-container matColumnDef="property_type">
            <th mat-header-cell *matHeaderCellDef> Property Type </th>
            <td mat-cell *matCellDef="let element"> {{element.property_type | titlecase}} </td>
        </ng-container>
        <!-- Offer Type Column -->
        <ng-container matColumnDef="offer_type">
            <th mat-header-cell *matHeaderCellDef> Offer Type </th>
            <td mat-cell *matCellDef="let element"> {{element.offer_type | titlecase}} </td>
        </ng-container>
        <!-- Verification Status Column -->
        <ng-container matColumnDef="verification_status">
            <th mat-header-cell *matHeaderCellDef>
                Status
                <svg xmlns="http://www.w3.org/2000/svg"
                    matTooltip="Each property needs to be verified before publishing." width="16" height="16"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-info">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="12" y1="16" x2="12" y2="12" />
                    <line x1="12" y1="8" x2="12.01" y2="8" />
                </svg>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.verification_status? 'Verified':'In-Review'}} </td>
        </ng-container>
        <!-- Publish Status Column -->
        <ng-container matColumnDef="publish_status">
            <th mat-header-cell *matHeaderCellDef> Publish </th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle class="example-margin"
                    [matTooltip]="!element.verification_status? 'Property is currently under review.':element.publish_status?'Toggle the button to unpublish this property.':'Toggle the button to publish this property.'"
                    (change)="changePropertyPublishState(element.id,element.publish_status)" color="primary"
                    [(ngModel)]="element.publish_status" [disabled]="!element.verification_status">
                </mat-slide-toggle>
                <!-- {{element.publish_status? 'Verified':'In-Review'}} -->
            </td>
        </ng-container>
        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
        <!-- District Column -->
        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef> District </th>
            <td mat-cell *matCellDef="let element"> {{element.district}} </td>
        </ng-container>
        <!-- Zipcode Column -->
        <ng-container matColumnDef="zipcode">
            <th mat-header-cell *matHeaderCellDef> Pincode </th>
            <td mat-cell *matCellDef="let element"> {{element.zipcode}} </td>
        </ng-container>
        <!-- Remark Column -->
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef> Remark </th>
            <td mat-cell *matCellDef="let element" [matTooltip]="element.remark"> {{element.remark | slice:0:10}}...
            </td>
        </ng-container>
        <!-- No Of Rooms Column -->
        <ng-container matColumnDef="no_of_rooms">
            <th mat-header-cell *matHeaderCellDef> No Of Rooms </th>
            <td mat-cell *matCellDef="let element"> {{element.no_of_rooms}} </td>
        </ng-container>
        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price | currency:'INR':'symbol':'3.0-0'}} </td>
        </ng-container>
        <!-- Attached Kitchen Column -->
        <ng-container matColumnDef="attached_kitchen">
            <th mat-header-cell *matHeaderCellDef> Kitchen </th>
            <td mat-cell *matCellDef="let element">
                <svg *ngIf="element.attached_kitchen" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-check">
                    <polyline points="20 6 9 17 4 12" />
                </svg>
                <svg *ngIf="!element.attached_kitchen" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </td>
        </ng-container>
        <!-- Attached Bathroom Column -->
        <ng-container matColumnDef="attached_bathroom">
            <th mat-header-cell *matHeaderCellDef> Bathroom </th>
            <td mat-cell *matCellDef="let element"> 
                <svg *ngIf="element.attached_bathroom" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-check">
                    <polyline points="20 6 9 17 4 12" />
                </svg>
                <svg *ngIf="!element.attached_bathroom" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </td>
        </ng-container>
        <!-- Include Water Price Column -->
        <ng-container matColumnDef="include_water_price">
            <th mat-header-cell *matHeaderCellDef> Include Water Price </th>
            <td mat-cell *matCellDef="let element"> 
                <svg *ngIf="element.include_water_price" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-check">
                    <polyline points="20 6 9 17 4 12" />
                </svg>
                <svg *ngIf="!element.include_water_price" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </td>
        </ng-container>
        <!-- Include Electricity Price Column -->
        <ng-container matColumnDef="include_electricity_price">
            <th mat-header-cell *matHeaderCellDef> Include Electricity Price </th>
            <td mat-cell *matCellDef="let element">
                <svg *ngIf="element.include_electricity_price" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="feather feather-check">
                    <polyline points="20 6 9 17 4 12" />
                </svg>
                <svg *ngIf="!element.include_electricity_price" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18" />
                    <line x1="6" y1="6" x2="18" y2="18" />
                </svg>
            </td>
        </ng-container>
        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> Rating </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>